<template>
  <h1>Welcome to PetWiki!!</h1>
  <p>A site where you can learn more about your pets!</p>
</template>

<script>
// @ is an alias to /src
//import HelloWorld from '@/components/HelloWorld.vue'

export default {
  name: 'Home',
  components: {
    
  }
}
</script>
